<div class="row no-gutter">
    <div class="col-xs-6 col-md-4">
        <a href="#" class="images-box">
            <img src="~/images/1.jpg" style="width:250px" height="200px" />
        </a>
    </div>

    <div class="col-xs-6 col-md-4">
        <a href="#" class="images-box">
            <img src="~/images/2.jpg" style="width:250px" height="200px" />
        </a>
    </div>


    <div class="col-xs-6 col-md-4">
        <a href="#" class="images-box">
            <img src="~/images/3.jpg" style="width:250px" height="200px" />
        </a>
    </div>

    <div class="col-xs-6 col-md-4">
        <a href="#" class="images-box">
            <img src="~/images/4.jpg" style="width:250px" height="200px" />
        </a>
    </div>

    <div class="col-xs-6 col-md-4">
        <a href="#" class="images-box">
            <img src="~/images/5.jpg" style="width:250px" height="200px" />
        </a>
    </div>

    <div class="col-xs-6 col-md-4">
        <a href="#" class="images-box">
            <img src="~/images/6.jpg" style="width:250px" height="200px" />
        </a>
    </div>

</div>
