body {
    padding-top: 50px;
    padding-bottom: 20px;

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('/images/bacjkground3.jpg')
}

.whiteBackground {
    background-color: white;
    opacity: 0.8;
    padding: 2em;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}





.mt-60 {
    background: url(/Content/images/board6.jpg);
    position: relative;
    width: 85%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.color {
    color: white;
}

.reg-pic {
    width: 200px;
    height: 430px;
    position: absolute;
    top: 50px;
    left: 920px;
}

.pics2 {
    display: block;
    margin-left: auto;
    margin-right: auto
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.item {
    position: relative;
    border: 1px solid #333;
    margin: 2%;
    overflow: hidden;
    width: 540px;
}

    .item img {
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .item:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

.buy {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 22px;
}

.float {
    width: 250px;
    height: 400px;
    position: absolute;
    top: 20px;
    left: 732px;
    margin-top: 150px;
}

.back {
    position: relative;
    width: 85%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.background {
    background: url(/Content/images/background1.png);
    position: relative;
    width: 85%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.sell-pic {
    margin-left: 287px;
    margin-top: 20px;
    width: 400px;
    height: 116.250px;
}
.create{
    margin-bottom:400px;
    width:500px;
}

